input.form-control, textarea.form-control, select.form-control {
	max-width:700px;
}

@media (max-width:767px) {
	table.table th:nth-child(2),
	table.table td:nth-child(2),
	table.table th:nth-child(3),
	table.table td:nth-child(3),
	table.table th:nth-child(4),
	table.table td:nth-child(4) {
		display:none;
	}
}

@media (max-width:991px) {
	table.table th:nth-child(5),
	table.table td:nth-child(5),
	table.table th:nth-child(6),
	table.table td:nth-child(6) {
		display:none;
	}
}
